<% content_for :title do %> - Practice <% end %>
<% content_for :practice_active do %> class = "active" <% end %>

<div class = "row">
    <div class="col-md-12">
        
        <!-- Error message -->
        <% if @error_message == "yes" %>
            <div class="well">
                <center>
                    <%= @message %>
                </center>
            </div>
        <% end %>

        <!-- Header -->
        <h3>
            Start a practice session
        </h3>

    </div>
</div>

<p>

<form action="/decide_start_session" method="get">

<!-- List all subjects -->

<div class="row">
 
    <div class="col-md-2">
        <h4>
            Subjects
        </h4>
    </div>

    <div class="col-md-2">
	    
        
            <p>

                <select name = "subject">
                    <% @topics.each do |topic| %>
                        <option value = "<%= topic.topic_slug %>"> <%= topic.name %></option>
                    <% end %>
                </select>
            </p>
        

	</div>


</div>

<!-- End of listing all subjects -->

<p>

<div class="row">
 
    <div class="col-md-2">
        <h4>
            Question pool
        </h4>
    </div>

    <!-- First column -->
    <div class="col-md-2">
	    <p>

            <select name = "questionpool">
                <option value = "Unanswered">Unanswered</option>
                <option value = "Incorrect">Incorrect</option>
                <option value = "Correct">Correct</option>

             </select>


		</p>
	</div>


</div>


<p>

<div class="row">



</div>

<div class = "row">
	<div class = "col-md-2 col-md-offset-2">
		<%= submit_tag("Start session", class: "btn btn-success") %>
	</div>

</div>
<br>
<div class = "row">
    <div class = "col-md-2 col-md-offset-2">
        <a href = "/resetforadmin" class = "btn btn-info">Reset your question progress</a>
    </div>
</div>

</form>

<!-- end of row -->

