<% content_for :title do %> - Dashboard <% end %>
<% content_for :dashboard_active do %> class = "active" <% end %>

<div class = "row">
    <div class="col-md-12">
        <h3>
            Dashboard
        </h3>
    </div>
</div>


<div class="row">
            
    <div class="col-md-4">
        <h4>
            Suggested Lessons <small> <%= link_to "Go to all lessons", lessons_path %></small><hr>
        </h4>

        <p>
            
            <a href = "#">First lesson video</a>
            &nbsp;<small>4:32</small>
            &nbsp;<span class="glyphicon glyphicon-ok"></span>
        </p>

        <p>
            <a href = "#">First lesson video</a>
            &nbsp;<small>4:32</small>
            &nbsp;<span class="glyphicon glyphicon-eye-open"></span>
        </p>

        <p>
            <a href = "#">First lesson video</a>
            &nbsp;<small>4:32</small>
        </p>

        <br><h4>
            Time value of money <hr>
        </h4>

        <p>
            <a href = "#">First lesson video</a>
            &nbsp;<small>4:32</small>
        </p>

        <p>
            <a href = "#">First lesson video</a>
            &nbsp;<small>4:32</small>
        </p>

        <p>
            <a href = "#">First lesson video</a>
            &nbsp;<small>4:32</small>
        </p>

    </div>
    <!-- end of span4 suggested lessons-->


    <div class="col-md-8">
        <h4>
            Practice <hr>
        </h4>

        <p class = "text-center">
            <a href = "/questions/1" type="button" class="btn btn-success">Start Practice Session</a>

            <br>

            or

            <br>

            <a href = "/custom_practice">
                Customize Practice Session
            </a>
        </p>

        <h4>
            Results<hr>
        </h4>
        <p>
            You've answered 45 / 90 (50%) questions correctly. <a href = "#">See detailed results.</a>
            <br><br>
        </p>

        <h4>
            Notes<hr>
        </h4>
        You have 4 notes. <a href = "#">View them.</a>


        


    </div>
    <!-- end of span8 quick practice -->

</div>
<!-- end of row -->