<% content_for :title do %> - Corporate Finance Practice Questions and Video Lessons <% end %>


<div class = "row">
	<div class = "col-md-8 col-md-offset-2">

		<p class = "lead text-center" style = "font-size: 56px;">
			Understand the basics of <strong>Corporate Finance</strong>
			<br><br>
			<a class="btn btn-xlarge btn-success" href="/users/sign_up" style = "padding: 18px 28px; font-size: 30px; line height: normal; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;">Signup for free</a>
		</p>
		<br>
		<p class = "lead text-center" style = "font-size: 20px; color:#777; font-weight:150;">
			Watch 40+ video lessons and answer 50+ practice questions to test your understanding of important introductory topics in corporate finance
		</p>
		
		<hr>

	</div>

</div>
<!-- end of row div -->


<!-- Screenshot module -->
<div class = "row">
	<div class = "col-md-4 col-md-offset-2">
		<p class = "lead text-center">
			<img src= "https://www.hogblog.org/wp-content/uploads/2014/07/300x300.gif" alt="..." class = "thumbnail ">
		</p>

		<p class = "lead" style = "font-size: 16px;">
			Customizable practice sessions with video explanations for each question
		</p>
	</div>

	<div class = "col-md-4">
		<p class = "lead text-center">
			<img src= "https://www.hogblog.org/wp-content/uploads/2014/07/300x300.gif" alt="..." class = "thumbnail ">
		</p>

		<p class = "lead" style = "font-size: 16px;">
			Video lessons to cover the important introductory topics in corporate finance
		</p>
	</div>

<div class = "col-md-8 col-md-offset-2">
<hr>
</div>


</div>


<!-- STUDENT QUOTE MODULE -->
<div class = "row">
	<div class = "col-md-8 col-md-offset-2">
		
		<p class = "lead" style = "font-size: 20px;">
			<strong>What Students Say</strong>
		</p>
		
		<!-- First quote -->
		<p class = "lead" style = "font-size: 16px;">
			<i>	
				"The videos were helpful, but the <strong>practice questions with vidoe explanations were incredibly helpful.</strong> I'm looking forward to the next finance class!"
			</i>
		</p>

		<!-- Second quote -->
		<p class = "lead" style = "font-size: 16px;">
			<i>	
				"The introductory videos gave me a head start for my finance class this semester. They're great to just brush up on important concepts too."
			</i>
		</p>

		<hr>

	</div>
</div>

<!-- FAQ module -->
<div class = "row">
	<div class = "col-md-8 col-md-offset-2">
		<p class = "lead" style = "font-size: 20px;">
			<strong>Frequently Asked Questions</strong>
		</p>
		<p class = "lead" style = "font-size: 16px;">
			<strong>What if I have a question?</strong>
			<br>
			We're happy to help! Send us an email at <a href = "mailto:sharataka@gmail.com">sharataka@gmail.com</a> and we'll answer you question regariding our service, a lesson video, or help you understand the answer to a problem better!
		</p>

		<p class = "lead" style = "font-size: 16px;">
			<strong>Do you have other classes?</strong>
			<br>
			We're working on it right now! We're going to do a few more classes on more advanced corporate finance topics, accounting, and economics. <a href = "#">Let us know what you want by clicking here and voting!</a>
		</p>

		<p class = "lead text-center">
			<a class="btn btn-xlarge btn-success" href="/users/sign_up" style = "padding: 18px 28px; font-size: 30px; line height: normal; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;">Signup for free</a>
		</p>
	</div>


</div>

