<% content_for :title do %> - Online Finance Practice Questions and Video Lessons <% end %>

<div class = "row">
	<div class = "span12">

		<p class = "lead text-center">
			test
			<br><br>
			<a class="btn btn-large btn-primary" href="#">Start learning for $20</a>
		</p>

		

	</div>
</div>
